<!doctype html>
<html>

<head>
    <title>Disease Tree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/style.css') }}">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: url('https://www.technocrazed.com/wp-content/uploads/2015/12/Tree-wallpaper-to-use-as-background-1.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            font-family: Roboto, Arial, sans-serif;
        }

        form {
            color: white;
            font-family: Roboto, Arial, sans-serif;
            font-size: 30px;
        }

        .main-block {
            margin-top: 10px;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 10px;
            text-align: center;
        }

        .row {
            display: flex;
            text-align: center;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .left-col {
            text-align: center;
            align-items: center;
            height: 700px;
            width: 50%;
            padding-left: 70px;
            margin-right: 50px;
            margin-left: 20px;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
        }

        .left-subcol {
            padding-top: 30px;
            text-align: center;
            margin-bottom: 0;
            margin-left: 40px;

        }

        .form-container {
            align-items: center;
            padding-top: 20px;
            margin-left: 50px;
            width: 50%;
            height: 700px;
            padding: 25px;
            background: rgba(0, 0, 0, 0.7);
        }

        .right-col {
            padding-top: 50px;
        }

        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        button {
            font-size: 15px;
            font-weight: bold;
            color: rgb(14, 14, 13);
            background-color: rgba(245, 252, 245, 0.61);
            border: none;
            outline: none;
            cursor: pointer;
            padding: 10px;
            transition: 0.3s;
            display: inline-table;
            margin: 4px 2px;
            text-align: center;
            height: 3em;
            width: 8em;
        }

        button:hover {
            background-color: #ddd;
        }

        button.active {
            background-color: #ccc;
        }

        .image-border {

            margin-left: 100px;
            border: 3px solid white;
            width: 310px;
            height: 310px;
        }
    </style>

</head>

<body>
    <div class='main-block'>
        <div class='row'>
            <div class='left-col'>
                <div class='left-subcol'>
                    <h1>Welcome to our Website!</h1>
                    {{info | safe}}
                    <h1>{{disease}}</h1>
                </div>
                <!--<div class="fakeimg" style="height:200px;">Image</div>-->
                <!-- <video id="video" controls autoplay width="450">
                </video>
                <button id="snap" onclick="putimage()">Capture</button> -->
            </div>
            <div class='form-container'>
                <div class='right-col'>
                    <h2>Upload your picture</h2>
                    <div class='image-border'>
                        <img src="{{picture}}" onerror="this.style.display='none'" width="300" height="300" />
                    </div>
                    <form method=post enctype=multipart/form-data>
                        <input type=file name=file>
                        <input type=submit value=Upload>
                    </form>
                    <!-- <form method="=post" action="/output">
                        <button type="submit" name="output" value="run_model">Analyze</button>
                    </form> -->

                </div>
            </div>
        </div>
    </div>

    <!-- <video id="video" width="720px" height="560px" autoplay muted></video> -->
</body>
<script src="../static/js/index.js"></script>

</html>